@import '../../styles/variables';

.section__wrapper {
  &:hover,
  &:focus,
  &:focus-within {
    .add__icon {
      opacity: 1;
      transform: translate(0, 0);
      cursor: pointer;

      &:hover,
      &:focus,
      &:focus-within {
        + .add__text {
          display: block;
        }
      }
    }
  }
}

.tags__list {
  @include flex-center();
  flex-wrap: wrap;
}
