// colours
$primaryLighter: #f1f1f8;
$primaryLight: #c9c9dd;
$primary: #696997;
$primaryDark: #1e1f45;

$secondaryLight: #f5f1ff;
$secondary: #5a25da;

// create repeat for normal text
// font-w 600, primary dark
