@import '../styles/variables';

.tags--list {
  @include flex-center();
  flex-wrap: wrap;

  .tag {
    @include flex-center(0rem);
    list-style: none;
    border-radius: 1rem;
    padding: 4px 12px;
    font-size: 0.9em;
    font-weight: 600;
    border: 1px solid;
    text-transform: capitalize;
    overflow: hidden;
    word-break: break-all;

    .tag-remove {
      background-color: transparent;
      overflow: hidden;
      border: none;
      max-width: 0px;
      transition: 0.3s all;
      &::before {
        content: '\2715';
      }
    }
    &:hover,
    &:focus,
    &:focus-within {
      .tag-remove {
        max-width: 100px;
        padding: 0 0.5rem;
        cursor: pointer;
      }
    }
  }
}
