@import '../styles/variables';

.tags {
  width: 50vw;
  min-height: 100px;
  padding: 1.5rem;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  .tags--title {
    font-size: 1em;
    margin-bottom: 1rem;
    color: $primaryDark;
  }

  .tags--items {
    @include flex-center();
  }

  &:hover,
  &:focus,
  &:focus-within {
    .add--icon {
      opacity: 1;
      display: block;
      transform: translate(0, 0);
      cursor: pointer;

      &:hover,
      &:focus,
      &:focus-within {
        + .add--text {
          display: block;
        }
      }
    }
  }
}

.add {
  @include flex-center(0.5rem);

  .add--icon {
    opacity: 0;
    display: none;
    transform: translate(0, 5px);
    transition: 0.2s ease-in;
    @include plus-button();
    &:hover {
      color: $primary;
      border: 1px solid $primaryLight;
    }
  }

  .add--text {
    @include secondary-text();
    display: none;
  }
}

.picker--input {
  position: relative;
  max-width: 125px;
  border: 1px solid $primary;
  padding-left: 0.5rem;
  border-radius: 1rem;
  padding: 4px 12px;
  outline: none;
  color: $primaryDark;
  font-weight: 600;
}

.picker--options {
  position: absolute;
  min-width: 150px;
  max-width: 250px;
  max-height: 250px;
  border: 1px solid $secondary;
  border-radius: 0.7rem;
  padding: 5px;
  margin: 5px 0;
  overflow-y: scroll;
  list-style: none;
  background-color: #fff;

  .picker--option {
    @include secondary-text();
    border-radius: 0.7rem;
    padding: 5px 10px;
    word-wrap: break-word;
    &:hover {
      @include input-suggestion-hover();
    }
  }

  .picker {
    @include flex-center(0.5rem);
    padding: 5px 10px;
    border-radius: 0.7rem;

    .picker--icon {
      @include plus-button(1rem);
    }

    .picker--text {
      @include secondary-text();
    }

    &:hover {
      @include input-suggestion-hover();

      .picker--text {
        color: $primaryDark;
      }
      .picker--icon {
        background-color: $primaryDark;
        color: $primaryLight;
      }
    }
  }
}
