@import '../../styles/variables';

.profile {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}

@media screen and (max-width: 736px) {
  .profile {
    grid-template-columns: 1fr;
  }
}
